[submodule "app/static/lib/codemirror"]
	path = app/static/lib/codemirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "app/static/lib/closure-library"]
	path = app/static/lib/closure-library
	url = https://github.com/google/closure-library.git
[submodule "app/static/lib/date-time-picker"]
	path = app/static/lib/date-time-picker
	url = https://github.com/xdan/datetimepicker.git
[submodule "app/static/lib/font-awesome"]
	path = app/static/lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "app/static/lib/bootstrap"]
	path = app/static/lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "app/static/lib/pace"]
	path = app/static/lib/pace
	url = https://github.com/HubSpot/pace.git
[submodule "app/static/lib/jquery-easing"]
	path = app/static/lib/jquery-easing
	url = https://github.com/gdsmith/jquery.easing.git
