@import '../universal/colors';


a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.api-documentation-container {
    margin: 70px 0 50px 100px;
    width: 800px;

    .api-instructions {
        margin-bottom: 150px;
    }

    .authentication-property {
        margin-left: 15px;
    }

    .api-description {
        width: 650px;
    }

    .api-heading {
        margin-bottom: 10px;
    }

    .api-item {
        margin-bottom: 80px;
    }
}

.api-listing {
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 70px;
    text-align: right;
    background-color: $bright-white;
    padding: 30px;
    min-width: 200px;

    .api-listing-item {
        margin-bottom: 3px;
    }
}

.api-listing.stick {
    position: fixed;
    top: 70px;
    right: 0;
}

pre {
    // !important to override highlight.js defaults
    border: none !important;
    background-color: transparent !important;
    border-radius: initial !important;
    padding: 0 !important;
    width: 800px !important;
    min-width: 500px;
}

.hljs {
    // !important to override highlight.js defaults
    padding: 5px 25px !important;
    background-color: $darker-blue !important;
}
