@import '../universal/colors';


.account-section-container {
    margin: 70px 0 50px 100px;
    width: 800px;

    .hidden-setting {
        display: none;  // Settings sections that are hidden by default
    }

    .account-settings-list-group {
        float: left;
        width: 300px;

        a {
            outline: none;
        }

        .header-list-group-item {
            height: 50px;
        }
    }

    .settings-section-container {
        margin-left: 400px;
        min-width: 400px;
        width: 700px;

        .settings-header {
            margin-bottom: 70px;
        }

        .settings-section {
            margin-bottom: 20px;
        }

        .settings-section-title {
            margin-bottom: 5px;
        }
    }

    .pastes-settings {
        td,
        th {
            padding: 8px 0;
        }

        .separator {
            height: 5px;
        }

        .paste-actions {
            text-align: right;
        }

        .action-icon {
            color: $darker-blue;
        }
    }

    .form-control {
        height: 15px;
        width: 500px;
    }
}

.modal-body {
    padding: 30px 20px;
}

.account-splash {
    z-index: 4;
}
