.login-container {
    display: block;
    margin: 100px auto 150px;
    width: 450px;

    .form-control {
        height: 15px;
    }

    .login-header {
        margin-bottom: 60px;
    }

    .remember-me-check {
        margin-right: 10px;
    }

    .login-button {
        margin: 30px 0;
    }
}

.login-splash {
    z-index: 4;
}
