.register-container {
    display: block;
    margin: 100px auto 150px;
    width: 450px;

    .form-control {
        height: 15px;
    }

    .register-header {
        margin-bottom: 60px;
    }

    .register-button {
        margin: 30px 0;
    }
}

.register-splash {
    z-index: 4;
}
