@import '../universal/colors';


.dark-link a:link, .dark-link a:visited, .dark-link a:active {
    color: $light-blue;
    text-decoration: none;
}

.dark-link a:hover {
    border-bottom: 2px solid $light-blue;
}

.dark-link-alt a:link, .dark-link-alt a:visited, .dark-link-alt a:active {
    color: $white;
    text-decoration: none;
}

.dark-link-alt a:hover {
    border-bottom: 2px solid $white;
}