{% extends 'base.html' %}

{% block title %}
    Account - Modern Paste
{% endblock %}

{% block head %}
    {{ super() }}

    {{ import_js([
        'user/account/AccountPastesController.js',
        'user/account/AccountAPIKeyController.js',
        'user/account/AccountDeactivateController.js',
        'user/account/AccountController.js',
    ])|safe }}
{% endblock %}

{% block content %}
    <div class="account-header-container main-header-container">
        <div class="main-header dark-link-alt">
            <p class="main-title sans-serif regular white size-8 spaced">ACCOUNT</p>
            <p class="sans-serif semibold light-gray size-2 less-spaced">Modify your account settings</p>
        </div>
    </div>

    <div class="account-section-container">
        <!--Left side bar for settings sections-->
        <div class="account-settings-list-group list-group sans-serif regular gray less-spaced size-2">
            <p class="header-list-group-item list-group-item">
                <span class="sans-serif semibold size-3">ACCOUNT SETTINGS</span>
                <br/>
                {{ current_user.username }}
            </p>
            <a href="#" class="pastes-list-group-item settings-item list-group-item sans-serif semibold active" data-section="pastes-settings">MY PASTES</a>
            <a href="#" class="user-profile-list-group-item settings-item list-group-item" data-section="user-profile-settings">USER PROFILE</a>
            <a href="#" class="api-key-list-group-item settings-item list-group-item" data-section="api-key-settings">API KEY</a>
            <a href="#" class="deactivate-list-group-item settings-item list-group-item" data-section="deactivate-settings">DEACTIVATE</a>
        </div>

        <div class="mobile-account-settings-list-group btn-group sans-serif regular gray less-spaced size-2" role="group">
            <button type="button" class="pastes-list-group-item settings-item btn btn-default sans-serif semibold active" data-section="pastes-settings">MY PASTES</button>
            <button type="button" class="user-profile-list-group-item settings-item btn btn-default" data-section="user-profile-settings">USER PROFILE</button>
            <button type="button" class="api-key-list-group-item settings-item btn btn-default" data-section="api-key-settings">API KEY</button>
            <button type="button" class="deactivate-list-group-item settings-item btn btn-default" data-section="deactivate-settings">DEACTIVATE</button>
        </div>

        <!--My pastes-->
        <div class="pastes-settings settings-section-container">
            <div class="settings-header">
                <p class="sans-serif semibold gray less-spaced size-4">MANAGE YOUR PASTES</p>
                <p class="sans-serif regular light-gray less-spaced size-2">View, modify, and delete pastes you've posted</p>
            </div>
            <div class="settings-contents">
                <p class="num-pastes sans-serif regular light-gray size-1 less-spaced">LOADING PASTES...</p>
                <br/>
                <table width="100%">
                    <tr class="paste-item-header" valign="middle">
                        <td width="60%">
                            <p class="paste-title sans-serif semibold gray size-2 less-spaced">TITLE</p>
                        </td>
                        <td width="15%">
                            <p class="paste-posted sans-serif semibold gray size-2 less-spaced">POSTED</p>
                        </td>
                        <td width="25%">
                            <p class="paste-actions sans-serif semibold gray size-2 less-spaced">ACTIONS</p>
                        </td>
                    </tr>
                    <tr class="separator"></tr>
                </table>
                <table class="user-pastes-container" width="100%">
                </table>
            </div>
        </div>

        <!--User profile-->
        <div class="user-profile-settings settings-section-container hidden-setting">
            <div class="settings-header">
                <p class="sans-serif semibold gray less-spaced size-4">EDIT YOUR USER PROFILE</p>
                <p class="sans-serif regular light-gray less-spaced size-2">Modify your name, email, and password</p>
            </div>
            <div class="settings-contents">
                TODO
            </div>
        </div>

        <!--API key-->
        <div class="api-key-settings settings-section-container hidden-setting">
            <div class="settings-header">
                <p class="sans-serif semibold gray less-spaced size-4">API KEY</p>
                <p class="sans-serif regular light-gray less-spaced size-2">View or regenerate your API key</p>
            </div>
            <div class="settings-contents">
                <div class="settings-section light-link">
                    <p class="settings-section-title sans-serif semibold gray size-2 less-spaced">VIEW API KEY</p>
                    <p class="settings-section-text sans-serif regular gray size-2">
                        This is the API key associated with your account. Use it to authenticate requests to the
                        <a href="{{ uri('misc', 'APIDocumentationInterfaceURI') }}">Modern Paste API</a>. Note that
                        all authentication-sensitive requests made through the API via your API key will modify
                        your account the same way as if you were logged in and performing actions via the web interface.
                        <span class="sans-serif semibold red">Never expose your API key; treat it like a password!</span>
                    </p>
                </div>
                <fieldset class="email-form-group form-group">
                    <input type="text" class="api-key-field form-control sans-serif regular gray size-2 less-spaced" data-toggle="tooltip" autocomplete="off" value="{{ current_user.api_key }}" readonly>
                </fieldset>
                <br/><br/>
                <div class="settings-section light-link">
                    <p class="settings-section-title sans-serif semibold gray size-2 less-spaced">GENERATE NEW API KEY</p>
                    <p class="settings-section-text sans-serif regular gray size-2">
                        To generate a new API key, click the below button. This should be done if your API key is ever
                        publicly exposed. <span class="sans-serif semibold red">Note that your old API key will no
                        longer authenticate requests.</span>
                    </p>
                </div>
                <button type="button" class="regenerate-api-key-button btn btn-primary sans-serif semibold white size-1 less-spaced" autocomplete="off">GENERATE NEW API KEY</button>
            </div>
        </div>

        <!--Deactivate-->
        <div class="deactivate-settings settings-section-container hidden-setting">
            <div class="settings-header">
                <p class="sans-serif semibold gray less-spaced size-4">DEACTIVATE ACCOUNT</p>
                <p class="sans-serif regular light-gray less-spaced size-2">Deactivate your Modern Paste account</p>
            </div>
            <div class="settings-contents">
                <div class="settings-section light-link">
                    <p class="settings-section-title sans-serif semibold gray size-2 less-spaced">DEACTIVATE YOUR ACCOUNT</p>
                    <p class="settings-section-text sans-serif regular gray size-2">
                        This action will completely deactivate your Modern Paste account. This will also deactivate all
                        pastes posted under this account. Click the below button to continue.
                    </p>
                </div>
                <button type="button" class="deactivate-account-button btn btn-danger sans-serif semibold white size-1 less-spaced" autocomplete="off">DEACTIVATE MY ACCOUNT</button>
            </div>
        </div>
    </div>

    <!--Modal for paste deactivation confirmation-->
    <div class="deactivate-confirm-modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content light-link">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title sans-serif semibold gray size-3 less-spaced">DEACTIVATE PASTE</p>
                </div>
                <div class="modal-body">
                    <p class="deactivate-confirm-text sans-serif regular gray size-2">You are about to deactivate this paste. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-button btn btn-default sans-serif semibold gray size-1 less-spaced" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="deactivate-button btn btn-danger sans-serif semibold white size-1 less-spaced" autocomplete="off">DEACTIVATE</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for account deactivation confirmation-->
    <div class="user-deactivate-confirm-modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content light-link">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title sans-serif semibold gray size-3 less-spaced">DEACTIVATE ACCOUNT</p>
                </div>
                <div class="modal-body">
                    <p class="sans-serif regular gray size-2">You are about to deactivate your account. Note that this will deactivate all pastes posted under your account. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-button btn btn-default sans-serif semibold gray size-1 less-spaced" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="user-deactivate-button btn btn-danger sans-serif semibold white size-1 less-spaced" autocomplete="off">DEACTIVATE</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for password removal confirmation-->
    <div class="password-remove-confirm-modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content light-link">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title sans-serif semibold gray size-3 less-spaced">REMOVE PASTE PASSWORD</p>
                </div>
                <div class="modal-body">
                    <p class="remove-password-confirm-text sans-serif regular gray size-2">You are about to remove the password from this paste. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-button btn btn-default sans-serif semibold gray size-1 less-spaced" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="remove-password-button btn btn-danger sans-serif semibold white size-1 less-spaced" autocomplete="off">REMOVE PASSWORD</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for setting a paste password-->
    <div class="password-set-modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content light-link">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title sans-serif semibold gray size-3 less-spaced">ADD PASTE PASSWORD</p>
                </div>
                <div class="modal-body">
                    <p class="set-password-text sans-serif regular gray size-2">Enter the password to set for this paste below. You will need to enter this password any time you want to view this paste.</p>
                    <fieldset class="form-group">
                        <input type="password" class="set-paste-password-field form-control sans-serif regular gray size-2 less-spaced" placeholder="Enter a password">
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-button btn btn-default sans-serif semibold gray size-1 less-spaced" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="set-password-button btn btn-primary sans-serif semibold white size-1 less-spaced" autocomplete="off">SET PASSWORD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="account-splash splash">
        <div class="spinner"><div></div></div>
    </div>

    <template class="paste-item-template">
        <tr class="paste-item" valign="middle">
            <td width="60%">
                <p class="sans-serif regular gray size-2 less-spaced light-link">
                    <a class="paste-title" href=""></a>
                </p>
            </td>
            <td width="15%">
                <p class="paste-posted sans-serif regular gray size-2 less-spaced"></p>
            </td>
            <td width="25%">
                <p class="paste-actions sans-serif regular gray size-2 less-spaced icon-link">
                    <a href="#" class="paste-download-icon" data-toggle="tooltip" data-placement="auto" title="Download" download>
                        <span class="action-icon fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-arrow-down fa-stack-1x"></i>
                        </span>
                    </a>
                    <a class="paste-download-contents hidden"></a>
                    <a href="#" class="paste-fork-icon" data-toggle="tooltip" data-placement="auto" title="Fork">
                        <span class="action-icon fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-code-fork fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="#" class="paste-set-password-icon" data-toggle="tooltip" data-placement="auto" title="Set password">
                        <span class="action-icon fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-lock fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="#" class="paste-remove-password-icon" data-toggle="tooltip" data-placement="auto" title="Remove password">
                        <span class="action-icon fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-unlock fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="#" class="paste-deactivate-icon" data-toggle="tooltip" data-placement="auto" title="Deactivate">
                        <span class="action-icon fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-trash fa-stack-1x"></i>
                        </span>
                    </a>
                </p>
            </td>
        </tr>
    </template>
{% endblock %}
