{% extends 'base.html' %}

{% block title %}
    Register - Modern Paste
{% endblock %}

{% block head %}
    {{ super() }}

    {{ import_js([
        'user/RegisterController.js',
    ])|safe }}
{% endblock %}

{% block content %}
    <div class="register-container light-link">
        {% if config.ENABLE_USER_REGISTRATION %}
            <div class="register-header">
                <p class="sans-serif regular gray size-8 spaced">REGISTER</p>
                <p class="sans-serif semibold light-gray size-2 less-spaced">Register for an account to view, modify, and delete your pastes</p>
            </div>
            <form class="register-form">
                <fieldset class="username-form-group form-group">
                    <input type="text" class="username-field form-control sans-serif regular gray size-2 less-spaced" data-toggle="tooltip" placeholder="Username" autocomplete="off">
                </fieldset>
                <fieldset class="password-form-group form-group">
                    <input type="password" class="password-field form-control sans-serif regular gray size-2 less-spaced" placeholder="Password" autocomplete="off">
                </fieldset>
                <fieldset class="password-confirm-form-group form-group">
                    <input type="password" class="password-confirm-field form-control sans-serif regular gray size-2 less-spaced" data-toggle="tooltip" placeholder="Confirm password" autocomplete="off">
                </fieldset>
                <fieldset class="name-form-group form-group">
                    <input type="text" class="name-field form-control sans-serif regular gray size-2 less-spaced" placeholder="Name (optional)" autocomplete="off">
                </fieldset>
                <fieldset class="email-form-group form-group">
                    <input type="text" class="email-field form-control sans-serif regular gray size-2 less-spaced" data-toggle="tooltip" placeholder="Email (optional)" autocomplete="off">
                </fieldset>
                <br/>
                <button type="submit" class="register-button btn btn-primary sans-serif semibold white size-2 less-spaced" disabled>REGISTER</button>
                <br/><br/>
                <a href="{{ uri('user', 'UserLoginInterfaceURI') }}" class="light-link sans-serif regular size-2">Have an account? Login here</a>
            </form>
        {% else %}
            <div class="error-container">
                <p class="sans-serif regular gray size-8 spaced">REGISTRATION DISABLED</p>
                <br/>
                <p class="sans-serif regular light-gray size-4 less-spaced">
                    The server administrator has disabled new user registration.
                </p>
            </div>
        {% endif %}
    </div>
    <div class="register-splash splash">
        <div class="spinner"><div></div></div>
    </div>
{% endblock %}
