{% extends 'base.html' %}

{% block title %}
    Paste Deactivation - Modern Paste
{% endblock %}

{% block head %}
    {{ super() }}

    {{ import_js([
        'paste/DeactivateController.js',
    ])|safe }}
{% endblock %}

{% block content %}
    <div class="error-container">
        <p class="sans-serif regular gray size-8 spaced">PASTE DEACTIVATION</p>
        <br/>
        <p class="sans-serif regular light-gray size-4 less-spaced">
            {% if success %}
                This paste has been successfully deactivated.
            {% else %}
                There was an error deactivating this paste. It is possible that this paste has already been deactivated.
            {% endif %}
        </p>
        <br/><br/>
        <p class="light-link sans-serif regular light-gray size-2 less-spaced">
            <a href="{{ uri('paste', 'PastePostInterfaceURI') }}">Create a new paste</a>
        </p>
    </div>
{% endblock %}
