$light-gray: #c4c4c4;
$lighter-gray: #e6e6e6;
$gray: #242424;
$bright-gray: #5d5d5d;
$light-blue: #6bbcd6;
$blue: #2f94b5;
$blue-alt: #1b728f;
$dark-blue: #2e3f47;
$darker-blue: #242e33;
$transparent-white: rgba(251, 251, 251, .9);
$white: #edf1f2;
$bright-white: #fbfbfb;
$pure-white: #fff;
$success-green: #26a65b;
$error-red: #a94442;
$pure-black: #000;
$transparent-black: rgba(0, 0, 0, .6);
