@import 'colors';


.dark-link a:link,
.dark-link a:visited,
.dark-link a:active {
    color: $light-blue;
    text-decoration: none;
}

.dark-link a:hover {
    border-bottom: 2px solid $light-blue;
}

.dark-link-alt a:link,
.dark-link-alt a:visited,
.dark-link-alt a:active {
    color: $white;
    text-decoration: none;
}

.dark-link-alt a:hover {
    border-bottom: 2px solid $white;
}

.light-link a:link,
.light-link a:visited,
.light-link a:active {
    color: $blue;
    text-decoration: none;
}

.light-link a:hover {
    border-bottom: 2px solid $blue;
}

.light-link-alt a:link,
.light-link-alt a:visited,
.light-link-alt a:active {
    color: $gray;
    text-decoration: none;
}

.light-link-alt a:hover {
    border-bottom: 2px solid $gray;
}
