@import '../universal/colors';
@import '../universal/mixins';


.archive-container {
    width: 800px;
    min-width: 500px;
    margin: 70px 0 150px 100px;

    .separator {
        height: 5px;
    }

    .paste-posted, .paste-views {
        text-align: right;
    }

    .page-navigation {
        margin-top: 50px;
    }

    .previous-button, .next-button {
        cursor: pointer;
        margin-right: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .previous-button {
        display: none;  // This should be hidden initially, since we start on the first pages
    }

    .right-arrow {
        width: 20px;
        height: 20px;
        vertical-align: text-top;
        margin-left: 5px;
    }

    .left-arrow {
        width: 20px;
        height: 20px;
        vertical-align: text-top;
        margin-right: 5px;
        @include rotate(180deg);
    }

    td, th {
        padding: 8px 0;
    }
}
