@import '../universal/colors';
@import '../universal/mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: initial;  // Undoing random useless Bootstrap CSS properties
}

html, body {
    height: 100%;
    line-height: initial;
}

p {
    margin: 0;  // Why does Bootstrap add a margin-bottom property to p elements?
}

.hidden {
    display: none;
}

#menu-panel {
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 50px 30px;
    background-color: $darker-blue;
    margin-left: -310px;
    @include ease-out-transition(margin);

    .title {
        text-align: center;
        margin-bottom: 50px;
    }

    .menu-panel-item {
        padding: 10px 0;
    }

    .open-source-note {
        position: absolute;
        width: 200px;
        bottom: 150px;
    }
}

#main-page {
    @include ease-out-transition(margin);
}

.content {
    padding-top: 70px;
    overflow: hidden;
}
