$light-gray: #C4C4C4;
$lighter-gray: #E6E6E6;
$gray: #242424;
$light-blue: #6BBCD6;
$blue: #2F94B5;
$dark-blue: #2E3F47;
$darker-blue: #242E33;
$white: #EDF1F2;
$bright-white: #FBFBFB;
$success-green: #26A65B;
$error-red: #A94442;
