@import 'colors';


// Source and font definitions

@font-face {
    font-family: 'sans-serif-book';
    src: url('/static/fonts/sans-serif-book.ttf');
}

@font-face {
    font-family: 'sans-serif-light';
    src: url('/static/fonts/sans-serif-light.ttf');
}

@font-face {
    font-family: 'sans-serif-semibold';
    src: url('/static/fonts/sans-serif-semibold.ttf');
}

@font-face {
    font-family: 'sans-serif-bold';
    src: url('/static/fonts/sans-serif-heavy.ttf');
}

@font-face {
    font-family: 'sans-serif-book-italic';
    src: url('/static/fonts/sans-serif-book-italic.ttf');
}

@font-face {
    font-family: 'ubuntu-mono-regular';
    src: url('/static/fonts/ubuntu-mono-regular.ttf');
}


// Font classes

.sans-serif.regular {
    font-family: 'sans-serif-book', sans-serif;

    &.italic {
        font-family: 'sans-serif-book-italic', sans-serif;
    }
}

.sans-serif.light {
    font-family: 'sans-serif-light', sans-serif;
}

.sans-serif.semibold {
    font-family: 'sans-serif-semibold', sans-serif;
}

.sans-serif.bold {
    font-family: 'sans-serif-bold', sans-serif;
}

.ubuntu-mono.regular {
    font-family: 'ubuntu-mono-regular', monospace;
}


// Size modifiers

.size-1 {
    font-size: 12px;
}

.size-2 {
    font-size: 14px;
}

.size-3 {
    font-size: 18px;
}

.size-4 {
    font-size: 20px;
}

.size-5 {
    font-size: 26px;
}

.size-6 {
    font-size: 30px;
}

.size-7 {
    font-size: 45px;
}

.size-8 {
    font-size: 56px;
}


// Letter spacing

.spaced {
    letter-spacing: 2px;
}

.less-spaced {
    letter-spacing: 1px;
}

.more-spaced {
    letter-spacing: 6px;
}


// Font colors

.white {
    color: $white;
}

.gray {
    color: $gray;
}

.light-gray {
    color: $light-gray;
}

.blue {
    color: $blue;
}

.red {
    color: $error-red;
}
