{% import 'macros.html' as macros with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {{ import_css([
            'lib/font-awesome/css/font-awesome.min.css',
            'lib/bootstrap/dist/css/bootstrap.min.css',
            'lib/pace/themes/blue/pace-theme-minimal.css',
            'stylesheet.css',
        ])|safe }}

        {{ import_js([
            'lib/jquery/jquery.min.js',
            'lib/jquery-easing/jquery.easing.min.js',
            'lib/closure-library/closure/goog/base.js',
            'lib/pace/pace.min.js',
            'lib/bootstrap/dist/js/bootstrap.min.js',
            'universal/CommonController.js',
            'universal/SplashController.js',
            'universal/URIController.js',
            'universal/AlertController.js',
            'universal/MenuController.js',
            'universal/UserHeaderController.js',
        ])|safe }}
    {% endblock %}
</head>
<body>
    <div id="alert">
        <p class="sans-serif regular white size-3">
            <span class="alert-title sans-serif semibold"></span>
            <span class="alert-message"></span>
        </p>
    </div>
    <div id="loading-splash" class="splash"></div>

    <div id="menu-panel">
        <div class="title">
            <span class="sans-serif light white size-6 spaced">modern</span><span class="sans-serif regular white size-6 spaced">paste</span>
        </div>
        <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
            <a href="{{ uri('paste', 'PastePostInterfaceURI') }}">NEW PASTE</a>
        </p>
        {% if current_user.is_authenticated %}
            <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
                <a href="{{ uri('user', 'UserAccountInterfaceURI') }}">MY ACCOUNT</a>
            </p>
        {% else %}
            <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
                <a href="{{ uri('user', 'UserLoginInterfaceURI') }}">LOGIN</a>
            </p>
            <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
                <a href="{{ uri('user', 'UserRegisterInterfaceURI') }}">REGISTER</a>
            </p>
        {% endif %}
        <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
            <a href="{{ uri('paste', 'PasteArchiveInterfaceURI') }}">ARCHIVE</a>
        </p>
        <p class="menu-panel-item dark-link-alt sans-serif regular white size-3 spaced">
            <a href="{{ uri('misc', 'APIDocumentationInterfaceURI') }}">API</a>
        </p>
        <p class="open-source-note dark-link sans-serif light light-gray size-2">
            <span class="sans-serif regular">modernpaste</span> is a modern, feature-rich, python-powered open source alternative to pastebin
            <br/><br/>
            <a href="">repository on github</a>
        </p>
    </div>

    <div id="main-page">
        {% block header %}
            <div id="header">
                <div class="container">
                    <span class="title-section">
                        <img class="menu-button" src="/static/img/icons/menu.png" />
                        <img class="hidden" src="/static/img/icons/cross.png" />
                        <span class="sans-serif light gray size-5 spaced">modern</span><span class="sans-serif regular gray size-5 spaced">paste</span>
                    </span>
                    <span class="user-section">
                        <span class="user-header sans-serif semibold size-2 less-spaced">
                            {% if current_user.is_authenticated %}
                                {{ current_user.username|upper }}
                            {% else %}
                                ANONYMOUS
                            {% endif %}
                            <img class="user-menu-arrow" src="/static/img/icons/dark-arrows.png">
                        </span>
                    </span>
                </div>
            </div>
            <div id="user-header-dropdown">
                {% if current_user.is_authenticated %}
                    <p class="dropdown-item light-link sans-serif semibold gray size-2 spaced">
                        <a href="{{ uri('user', 'UserAccountInterfaceURI') }}">MY ACCOUNT</a>
                    </p>
                    <p class="dropdown-item light-link sans-serif semibold gray size-2 spaced">
                        <a href="{{ uri('user', 'UserLogoutInterfaceURI') }}">LOGOUT</a>
                    </p>
                {% else %}
                    <p class="dropdown-item light-link sans-serif semibold gray size-2 spaced">
                        <a href="{{ uri('user', 'UserLoginInterfaceURI') }}">LOGIN</a>
                    </p>
                    <p class="dropdown-item light-link sans-serif semibold gray size-2 spaced">
                        <a href="{{ uri('user', 'UserRegisterInterfaceURI') }}">REGISTER</a>
                    </p>
                {% endif %}
            </div>
        {% endblock %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="uris" class="hidden">
        {% set uri_modules_to_classes = all_uris() %}
        {% for uri_module in uri_modules_to_classes %}
            {% for uri_class in uri_modules_to_classes[uri_module] %}
                {{ macros.include_uri(uri_module, uri_class) }}
            {% endfor %}
        {% endfor %}
    </div>

    {% if config.BUILD_ENVIRONMENT == 'dev' %}
        <div id="dev-banner">
            <p class="sans-serif semibold white size-1 spaced">DEV</p>
        </div>
    {% endif %}
</body>
</html>
